
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #212121;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 600px;
  /*background-color: #1D2029 ;*/
  background-color: #00416A;
}

#container-contents {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  overflow-y: auto;
}

#navigation {
  position: absolute;
  bottom: 0;
  width: 400px;
  min-width: 400px;
  height: 150px;
}

#navigation-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-list-item {
  position: absolute;
  height: 73px;
  width: 197px;
  text-align: center;
  line-height: 73px;
  font-size: 16px;
}

.top-right {
  top: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

a.navigation-link {
  display: block;
  position: relative;
  float: left;
  width: 198px;
  height: 73px;
  border: 1px #6E6E6E solid;
  color: #1D2029;
  background-color: #C7E1FE;
}

a.navigation-link:hover {
  background-color: #95B5D8;
}

#form {
  width: 250px;
  height: 400px;
  margin: auto;
  margin-top: 75px;
}

#login {
  color: white;
  font-size: 24px;
}

.button {
  display: block;
  margin: auto;
  margin-top: 25px;
  height: 73px;
  width: 250px;
  background-color: #C7E1FE;
  color: #1D2029;
  border: 1px #1D2029 solid;
}

h2 {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 50px;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"], textarea {
  margin: 6px 0px 6px 0px;
}

input.large[type="text"], input.large[type="password"] {
  margin: 0;
  padding: 4px;
  width: 240px;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

/*.body {
  display: block;
  height: 400px;
  width: 350px;
}

.content {
  display: block;
  height: 400px;
  width: 350px;
}*/

.wizard {
  background-color: transparent;
}


.wizard > .steps li.disabled, .wizard > .steps li.current {
  width: 120px;
}

input[type="radio"] {
  display: none !important; 
  margin:10px;
}

input[type="radio"] + label {
  display:block;
  height: 100px;
  width: 320px;
  margin: 20px;
  margin-top: 20px;
  background-color: #e7e7e7;
  border-color: #ddd;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
}

input[type=radio]:checked + label { 
  background-image: none;
  background-color:#d0d0d0;
}

.white {
  color: #E8E8E8;
}

#header {
  width: 100%;
  height: 50px;
  display: block;
}

#tasks {
  width: 360px;
  margin: 0px 20px 0px 20px;
  color: #BEBEBE;
  font-size: 40px;
}

.left {
  padding: 8px;
  float: left;
}

.right {
  padding: 10px;
  float: right;
}

#add_task_button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

#overlay {
  position: absolute;
  width: 400px;
  height: 600px;
  background-color: #121212;
  opacity: 0.7;
  z-index: 1;
  display: hidden;
}

#modal {
  position:absolute;
  width: 320px;
  height: 220px;
  margin: 30px;
  margin-top: 150px;
  z-index: 2;
  background-color: #BEBEBE;
  border-radius: 10px;
  padding: 10px;
  display: hidden;
}

.centered {
  text-align: center;
  margin: auto;
}

#add-task-title {
  width: 312px;
}

#add-task-description {
  width: 312px;
}

#add-task-location {
  width: 312px;
  min-width: 312px;
  max-width: 312px;
}

#add-task-date {
  float: left;
  width: 200px;
}

#add-task-time {
  float: right;
  width: 100px;
}
