html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 600px;
  /*background-color: #1D2029 ;*/
  background-color: #00416A;
}


#navigation {
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 150px;
}

#navigation-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-list-item {
  display: block;
  height: 73px;
  width: 198px;
  position: relative;
  float: left;
  text-align: center;
  vertical-align: middle;
}

a.navigation-link {
  display: block;
  position: relative;
  float: left;
  width: 198px;
  height: 73px;
  border: 1px white solid;
  color: #1D2029;
  background-color: #C7E1FE;
  text-align: center;
  vertical-align: middle;
}

a.navigation-link:hover {
  background-color: #95B5D8;
}
