@font-face {
    font-family: 'Roboto';
    src: url(./font/Roboto-Light.woff);
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: #212121;
  font-family: 'Roboto', sans-serif;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 400px;
  height: 600px;
  /*background-color: #1D2029 ;*/
  background-color: #00416A;
}

#container-contents {
  position: absolute;
  top: 0;
  width: 100%;
  height: 450px;
  overflow-y: auto;
}

#navigation {
  position: absolute;
  bottom: 0;
  width: 400px;
  min-width: 400px;
  height: 150px;
}

#navigation-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-list-item {
  position: absolute;
  height: 73px;
  width: 197px;
  text-align: center;
  line-height: 73px;
  font-size: 16px;
}

.top-right {
  top: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

a.navigation-link {
  display: block;
  position: relative;
  float: left;
  width: 198px;
  height: 73px;
  border: 1px #6E6E6E solid;
  color: #1D2029;
  background-color: #C7E1FE;
}

a.navigation-link:hover {
  background-color: #95B5D8;
}

#form {
  width: 250px;
  height: 400px;
  margin: auto;
  margin-top: 75px;
}

#login {
  color: white;
  font-size: 24px;
}

.button {
  display: block;
  margin: auto;
  margin-top: 25px;
  height: 73px;
  width: 250px;
  background-color: #C7E1FE;
  color: #1D2029;
  border: 1px #1D2029 solid;
}

h2 {
  color: white;
  text-align: center;
  margin: auto;
  font-size: 50px;
  margin-bottom: 20px;
}

input[type="text"], input[type="password"], textarea {
  margin: 6px 0px 6px 0px;
}

input.large[type="text"], input.large[type="password"] {
  margin: 0;
  padding: 4px;
  width: 240px;
  border: 1px solid;
  border-radius: 5px;
  height: 30px;
  margin-top: 8px;
  margin-bottom: 8px;
}

.wizard {
  background-color: transparent;
}


.wizard > .steps li.disabled, .wizard > .steps li.current {
  width: 120px;
}

input[type="radio"] {
  display: none !important; 
  margin:10px;
}

input[type="radio"] + label {
  display:block;
  height: 100px;
  width: 320px;
  margin: 20px;
  margin-top: 20px;
  background-color: #e7e7e7;
  border-color: #ddd;
  text-align: center;
  line-height: 100px;
  font-size: 24px;
}

input[type=radio]:checked + label { 
  background-image: none;
  background-color:#d0d0d0;
}

.white {
  color: #E8E8E8;
}

#header {
  width: 100%;
  height: 50px;
  display: block;
}

#tasks {
  width: 360px;
  margin: 0px 20px 0px 20px;
  color: #BEBEBE;
  font-size: 40px;
}

.left {
  padding: 8px;
  float: left;
  cursor: pointer;
}

.right {
  padding: 10px;
  float: right;
  cursor: pointer;
}

#add_task_button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  cursor: pointer;
}

#overlay {
  position: absolute;
  width: 400px;
  height: 600px;
  background-color: #121212;
  opacity: 0.7;
  z-index: 1;
  display: none;
}

#modal {
  position:absolute;
  width: 320px;
  height: 230px;
  margin: 30px;
  margin-top: 150px;
  z-index: 2;
  background-color: #BEBEBE;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

#modal-trash {
  position:absolute;
  width: 180px;
  height: 130px;
  margin: 100px;
  margin-top: 180px;
  z-index: 2;
  background-color: #C7E1FE;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

.modal-settings {
  position:absolute;
  width: 320px;
  height: 400px;
  margin: 30px;
  margin-top: 100px;
  z-index: 2;
  background-color: #F8F8F8;
  border-radius: 10px;
  padding: 10px;
  display: none;
}

.centered {
  text-align: center;
  margin: auto;
}

#add-task-title {
  width: 312px;
}

#add-task-description {
  width: 312px;
}

#add-task-location {
  width: 312px;
  min-width: 312px;
  max-width: 312px;
}

#add-task-date {
  float: left;
  width: 200px;
}

#add-task-time {
  float: right;
  width: 100px;
}

#success {
  position:absolute;
  width: 320px;
  height: 230px;
  margin: 30px;
  margin-top: 150px;
  z-index: 2;
  background-color: #BEBEBE;
  border-radius: 10px;
  padding: 10px;
}

#task-table { 
  display: block;
  width: 360px;
  padding: 10px;
  margin: auto;
  border-collapse:separate; 
  border-spacing:10px;
}

.task-status {
  width: 25px;
  padding: 5px;
  cursor: pointer;
}

.task-details {
  width: 220px;
  padding: 5px;
  background-color: #95B5D8;
  border-radius: 5px;
  line-height: 25px;
  /*cursor: pointer;*/
}

.task-trash {
  width: 22px;
  padding: 0px 0px 1px 8px;
  cursor: pointer;
}

.hidden {
  display: none;
}

.checkmark {
  position: absolute;
  margin-left: -20px;
}

/* DROPDOWNWRAPPER - credited to rakibtg */
.dropdownWrapper {
  display: inline-block;
  position: relative;
}

.dropdownWrapper:hover { background-color: #3D59AB; }

.dropdownPanel {
  position: absolute;
  min-width: 100%;
  background-color: #3D59AB;
  left: 0;
  top: 0;
  margin-top: 37px;
  display: none;
  z-index: 2;
  border-radius: 5px;
  font-size: 12px;
}

.dropdownPanel:before {
  width: 0;
  content: "";
  height: 0;
  border-style: solid;
  border-width: 0 7px 8px 7px;
  border-color: transparent transparent #3D59AB transparent;
  top: 0;
  left: 0;
  margin-top: -8px;
  margin-left: 10px;
  position: absolute;
}

.content-padding {
  width: 95%;
  padding: 5px;
  margin: auto;
}

h3 {
  font-size: 30;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 5px;
  color: #C7E1FE;
  text-decoration: none;
  width: 100px;
  height: 30px;
  margin: 10px;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.btn-settings {
  display: block;
  width: 250px;
  height: 65px;
  margin: 15px auto;
  border: 3px #D0D0D0 solid;
  border-radius: 5px;
  color: #F8F8F8;
  font-size: 30px;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
}

.btn-settings:hover {
  border-color: #E8E8E8;
}

.btn-font-sizes {
  display: block;
  width: 200px;
  height: 65px;
  margin: 30px auto;
  border: 3px #D8D8D8 solid;
  border-radius: 5px;
  color: #707070;
  text-align: center;
  line-height: 65px; 
}

.font-small { font-size: 16px; }

.font-medium { font-size: 24px; }

.font-large { font-size: 32px; }

#profile-image {
  width: 102px;
  height: 102px;
  margin: 30px 100px;
}

#feedback-textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 300px;
  max-height: 300px;
  border-size: 1px;
}

#profile-table {
  border-collapse:separate; 
  border-spacing:10px;
  valign: top;
}